<div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">
                    {{title}} <br />
                    <span class="text-primary">{{description}}</span>
                </h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <form [formGroup]="authForm" (ngSubmit)="handleSubmission()">
                            <div class="form-outline mb-4">
                                <label class="form-label">Email address:</label>
                                <input type="email" formControlName="email" class="form-control" />
                                <span
                                class="text-danger"
                                *ngIf="authForm.get('email').invalid && (authForm.get('email').dirty || authForm.get('email').touched)">
                                    Please enter email
                                </span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label">Password:</label>
                                <input type="password" formControlName="password" class="form-control" />
                                <span
                                class="text-danger"
                                *ngIf="authForm.get('password').invalid && (authForm.get('password').dirty || authForm.get('password').touched)">
                                    Please enter password
                                </span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label">Confirm Password:</label>
                                <input type="password" formControlName="confirmPassword" class="form-control" />
                                <span
                                class="text-danger"
                                *ngIf="authForm.get('password').invalid && (authForm.get('password').dirty || authForm.get('password').touched)">
                                    Password is not matched
                                </span>
                            </div>
                            <button [disabled]="authForm.invalid || submitted" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>
                            <br/>
                            <span class="text-danger" >{{error}}</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>