<form class="row" [formGroup]="createForm" (ngSubmit)="handleSubmit()">
    <div class="form-outline">
        <label class="form-label">Name:</label>
        <input type="text" formControlName="carName" class="form-control" />
    </div>

    <div class="form-outline col-6">
        <label class="form-label">Supplier</label>
        <ng-select class="form-control" [virtualScroll]="true" [items]=" suppliers" bindLabel="supplierName"
            bindValue="supplierId" formControlName="supplierId">
        </ng-select>
    </div>
    <div class="form-outline col-6">
        <label class="form-label">Manufacturer</label>
        <ng-select class="form-control" [virtualScroll]="true" [items]=" manufacturers" bindLabel="manufacturerName"
            bindValue="manufacturerId" formControlName="manufacturerId">
        </ng-select>
    </div>
    <div class="form-outline col-6">
        <label class="form-label">Fuel type</label>
        <ng-select class="form-control" [virtualScroll]="true" [items]=" fuelTypes" bindLabel="fuelTypes"
            bindValue="fuelTypes" formControlName="fuelType">
        </ng-select>
    </div>
    <div class="form-outline col-6">
        <label class="form-label">Number of door</label>
        <ng-select class="form-control" [virtualScroll]="true" [items]=" doorNumbers" bindLabel="doorNumbers"
            bindValue="doorNumbers" formControlName="doorNumber">
        </ng-select>
    </div>
    <div class="form-outline">
        <label class="form-label">Description:</label>
        <textarea formControlName="carDescription" class="form-control"></textarea>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div class="form-outline col-3">
            <label class="form-label">Year:</label>
            <input type="number" min="1800" formControlName="year" class="form-control" />
        </div>
        <div class="form-outline col-6">
            <label class="form-label">Price/Day:</label>
            <input type="number" min="0" formControlName="carRentingPricePerDay" class="form-control" />
        </div>
    </div>

    <button [disabled]="createForm.invalid || submitted" class="btn btn-primary btn-block mt-4">
        Create
    </button>
    <br />
</form>